<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="STDOUT_JSON_FILTERED" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <loggerName/>
                <logLevel/>
                <logLevelValue/>
                <stackTrace/>
                <pattern>
                    <pattern>
                        {
                        "message": "%replace(%msg){'User:\\s\\d+', 'User: *******'}"
                        }
                    </pattern>
                </pattern>
                <mdc/>
            </providers>
        </encoder>
    </appender>

    <appender name="STDOUT_JSON_TJENESTEKALL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <loggerName/>
                <logLevel/>
                <logLevelValue/>
                <stackTrace/>
                <pattern>
                    <pattern>
                        {
                        "message": "%replace(%msg){'Authorization([^\\n]+)', 'Authorization: *******'}"
                        }
                    </pattern>
                </pattern>
                <mdc/>
            </providers>
        </encoder>
    </appender>

    <appender name="SECURITYLOG" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%level %mdc{correlation-id} %m%n%xEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <host>audit.nais</host>
            <port>6514</port>
            <ident>sak</ident>
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <appender name="METRICS" class="io.prometheus.client.logback.InstrumentedAppender"/>

    <logger name="no.nav" level="INFO" additivity="false">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="METRICS"/>
    </logger>

    <logger name="org.opensaml" level="WARN" additivity="false">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="METRICS"/>
    </logger>

    <logger name="org.flyway" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="METRICS"/>
    </logger>

    <logger name="securitylog" level="INFO" additivity="false">
        <appender-ref ref="SECURITYLOG"/>
        <appender-ref ref="STDOUT_JSON_FILTERED"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="METRICS"/>
    </root>

</configuration>

