<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="no.nav" level="INFO" additivity="false">
        <appender-ref ref="STDOUT_JSON"/>
    </logger>

    <logger name="org.opensaml" level="WARN" additivity="false">
        <appender-ref ref="STDOUT_JSON"/>
    </logger>

    <logger name="org.flyway" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT_JSON"/>
    </logger>

    <logger name="no.nav.security.token.support" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT_JSON"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT_JSON"/>
    </root>

</configuration>

