<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<logger name="no.nav" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.ldaptive" level="OFF" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.glassfish" level="OFF" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

	<root level="OFF">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
