<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d %level %logger %mdc{uuid}] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="no.nav" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.opensaml" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.gatling" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.gatling.http.ahc" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.gatling.http.response" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.gatling.http" level="DEBUG" >
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.ldaptive" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.glassfish" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
